.quizCard {
    padding: 10px;
    border-radius: 8px;
    width: 250px;
    height: auto;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.titleAndIcon {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-align: left;
    width: 100%;
}

.quizTitle {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    text-align: left;
    width: 150px;

}

.createdOn {
    font-size: 15px;
    font-weight: 600;
    color: #60b84b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 8px;
    margin-right: 50px;
    text-align: right;

}

.attempts {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 17px;
    font-weight: 600;
    color: orange;
    align-self: flex-start;

}

.icon {
    font-size: 20px;

    color: orange;

}